@font-face {
  font-family: "magic_school_oneregular";
  src: url("fonts/magicschoolone-ovyz-webfont.woff2") format("woff2"), url("fonts/magicschoolone-ovyz-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  padding: 20px 0 0 0;
  font-family: "magic_school_oneregular";
  font-size: 70px;
  color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

.backgorund {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
  height: 100vh;
  background-image: url("imgs/background.png");
  background-position: center;
  background-repeat: repeat;
}

tbody tr {
  cursor: pointer;
}

section {
  max-width: 980px;
  margin: 30px auto 100px auto;
  background-image: url("imgs/texture.jpg");
  background-repeat: repeat;
  background-position: center;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.8);
  border-radius: 13px;
  border: 13px solid #fafae2;
}

.vignette {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  box-shadow: 0 0 150px 40px rgba(0, 0, 0, 0.5) inset;
  min-height: 80vh;
}
#popup .vignette {
  padding: 50px 50px 20px 50px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 150px 20px rgba(0, 0, 0, 0.5) inset;
  min-height: 0vh;
}

#prefectContainer .vignette {
  padding: 50px 50px 20px 50px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 150px 20px rgba(0, 0, 0, 0.5) inset;
  min-height: 0vh;
}

#sitetop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sitetop img {
  margin: 5px 0 50px 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#splash {
  width: 300px;
}

#functionalityContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

#list {
  margin: 20px auto 0 auto;
}

#list th {
  min-width: 200px;
  text-align: start;
}
#list th:last-child {
  min-width: 0px;
}

#list td {
  min-width: 200px;
}
#list td:last-child {
  min-width: 0px;
}

.hide {
  display: none;
}

#popup {
  display: none;
}

#popup.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#popupContainer {
  background-image: url("imgs/texture.jpg");
  background-repeat: repeat;
  background-position: center;
  border: 13px solid;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.8);
}

.flexcontainer {
  display: flex;
}

#closePopup,
#closePrefect {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

#popup .right {
  display: flex;
  flex-direction: column;
}

#popup .left {
  display: flex;
  align-items: center;
}
#popup .middle {
  margin: 0 20px;
}

#popup button {
  margin: 10px;
}
#popup p {
  margin: 10px;
}

/*
 *
 *
 *
 */
#prefectConflict {
  display: none;
}

#prefectConflict.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

#prefectContainer {
  background-image: url("imgs/texture.jpg");
  background-repeat: repeat;
  background-position: center;
  border: 13px solid #fafae2;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.8);
}

#prefectContainer h2 {
  margin: 30px 0;
}

#prefectContainer p {
  margin: 0 0 20px 0;
}

#prefectContainer button {
  margin-bottom: 20px;
}

button.sortBy[data-sortdir="desc"]::after {
  content: "△";
}

button.sortBy[data-sortdir="asc"]::after {
  content: "▽";
}

button {
  height: 30px;
  min-width: 100px;
  padding: 0 20px;
  background-color: #fafae2;
  border: 1px solid #151515;
  cursor: pointer;
}

#functionalityContainer button {
  margin: 0 5px;
}

#filterSelector {
  height: 30px;
  min-width: 100px;
  margin-left: 5px;
  background-color: #fafae2;
  border: 1px solid #151515;
}
#searchBar {
  height: 30px;
  min-width: 100px;
  background-color: #fafae2;
  border: 1px solid #151515;
}

#countBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  background-color: #fafae2;
  border-top: 1px solid #151515;
}

#badgeContainer {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 20px auto 0 auto;
}

#badgeContainer img {
  width: 50px;
}

.transparent {
  opacity: 0.2;
}

#popupContainer.gryffindor {
  border-color: #4a1311;
}

#popupContainer.hufflepuff {
  border-color: #f89e43;
}

#popupContainer.ravenclaw {
  border-color: #1d3047;
}

#popupContainer.slytherin {
  border-color: #1b4922;
}

#tdbadges {
  display: flex;
}

#tdbadges img {
  width: 30px;
}

.expelled {
  text-decoration: line-through;
}

#hackedScreen.hacked {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  position: fixed;
  animation-name: kf_hacked_ani;
  animation-duration: 7s;
  pointer-events: none;
}

@keyframes kf_hacked_ani {
  0% {
    background-color: #fafae2;
  }

  2% {
    background-color: #fafae2;
  }
  3% {
    background-color: #151515;
  }

  25% {
    background-color: #151515;
  }

  31% {
    background-color: #fafae2;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
